.cargo-dimension {
    padding: 1rem 2rem 0 2rem;
}

.cargo-dimension .dimension-area {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cargo-dimension .dimension-area .box-image {
    width: 30%;
}

.cargo-dimension .dimension-area .box-image img {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.form-area {
    width: 70%;
    height: 100%;
}

@media (max-width: 998px) {
    .cargo-dimension .dimension-area {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .cargo-dimension .dimension-area .box-image {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .form-area {
        width: 100%;
        height: 100%;
    }
}